[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ruff = "*"
pre-commit = "*"

[packages]
pillow = "*"
torchvision = "*"
ruff = "*"

[requires]
python_version = "3.8"
